@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #0091BD;
  --color-secondary: #EF509C;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Dark mode styles */
html.dark body {
  background-color: #070709;
  color: white;
}

/* Light mode styles */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a,
nav a {
  transition: color 0.3s ease;
}